<a href="https://colab.research.google.com/github/harikab5/MAIN-FLOW-DATA-SCEINECE-INTERNSHIP-TASK-1/blob/main/MAIN_FLOW_DATA_SCIENCE_TASK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MAIN FLOW SERVICES AND TECHNOLOGIES
                DATA SCIENCE WITH PYTHON INTERSHIP
                         TASK-1


                DESCRIPTION:

                Write a python progam to create a list ,a dictionary, and a set .Perform basic operations like adding,removing,and modifying
                elements

LISTS

In [ ]:
#LISTS

#CREATION OF LISTS IN VARIOUS WAYS

#USING SQUARE BRACKETS
my_list=[1,2,3,4,5]
print("USING SQUARE BRACKETS")
print(my_list)

#USING list() CONSTRUCTOR
my_list=list([1,2,3,4,5])
print("USING SQUARE BRACKETS")
print(my_list)

#USING LIST COMPREHENSION
my_list=[x for x in range(1,6)]
print("USING LIST COMPREHENSION")
print(my_list)

USING SQUARE BRACKETS
[1, 2, 3, 4, 5]
USING SQUARE BRACKETS
[1, 2, 3, 4, 5]
USING LIST COMPREHENSION
[1, 2, 3, 4, 5]

BASIC OPERATIONS ON LISTS

In [ ]:
my_list=[1,2,3,4,5]
print("BEFORE PERFORMING OPERATIONS")
print(my_list)

#BASIC OPERATIONS

#ADDING AN ELEMENT TO THE LIST
my_list.append(758)
print("after adding an element",my_list)

#REMOVING AN ELEMENT FROM LIST
my_list.remove(2)
print("after removing an element",my_list)

#MODIFYING AN ELEMENT IN LIST
my_list[1]=35
print("after modifying an element",my_list)

BEFORE PERFORMING OPERATIONS
[1, 2, 3, 4, 5]
after adding an element [1, 2, 3, 4, 5, 758]
after removing an element [1, 3, 4, 5, 758]
after modifying an element [1, 35, 4, 5, 758]

DICTIONARIES

In [ ]:
#CREATING DICTIONARIES IN VARIOUS WAYS

#USING CURLY BRACES
my_dict={'a':1,'b':2,'c':3}
print("USING CURLY BRACES")
print(my_dict)

#USING dict() CONSTRUCTOR
my_dict=dict(a=1,b=2,c=3)
print("USING dict() CONSTRUCTOR")
print(my_dict)

#FROM LIST TO TUPLES
my_dict=dict([('a',1),('b',2),('c',3)])
print("FROM LIST TO TUPLES")
print(my_dict)

USING CURLY BRACES
{'a': 1, 'b': 2, 'c': 3}
USING dict() CONSTRUCTOR
{'a': 1, 'b': 2, 'c': 3}
FROM LIST TO TUPLES
{'a': 1, 'b': 2, 'c': 3}

BASIC OPERATIONS ON DICTIONARY

In [ ]:
my_dict={'a': 1, 'b': 2, 'c': 3}
print("BEFORE PERFORMING OPERATIONS")
print(my_dict)

#BASIC OPERATIONS

#ADDING AN ELEMENT TO DICTIONARY
my_dict['d']=23
print("after adding an element",my_dict)

#REMOVING AN ELEMENT
del my_dict['b']
print("after removing an element",my_dict)

#MODIFYING A VALUE
my_dict['a']=56
print("after modifying the value",my_dict)

BEFORE PERFORMING OPERATIONS
{'a': 1, 'b': 2, 'c': 3}
after adding an element {'a': 1, 'b': 2, 'c': 3, 'd': 23}
after removing an element {'a': 1, 'c': 3, 'd': 23}
after modifying the value {'a': 56, 'c': 3, 'd': 23}

SETS

In [ ]:
#SETS

#CREATING SETS IN VARIOUS WAYS

#USING CURLY BRACES
my_set={1,2,3,4,5}
print("USING CURLY BRACES")
print(my_set)

#USING set() CONSTRUTOR
my_set=set([1,2,3,4,5])
print("USING set() CONSTRUTOR")
print(my_set)

#FROM STRING (CREATES A SET OF CHARACTERS)
my_set=set("HARIKA")
print("FROM STRING (CREATES A SET OF CHARACTERS)")
print(my_set)

#USING SET COMPREHENSION
my_set={x for x in range(1,6)}
print("USING SET COMPREHENSION")
print(my_set)

USING CURLY BRACES
{1, 2, 3, 4, 5}
USING set() CONSTRUTOR
{1, 2, 3, 4, 5}
FROM STRING (CREATES A SET OF CHARACTERS)
{'A', 'R', 'K', 'I', 'H'}
USING SET COMPREHENSION
{1, 2, 3, 4, 5}

BASIC OPERATIONS ON SETS

In [ ]:
my_set={1,2,3,4,5}
print("BEFORE PERFORMING OPERATIONS ON SET")
print(my_set)

#BASIC OPERATIONS

#ADDING AN ELEMENT
my_set.add(500)
print("after adding an element",my_set)

#REMOVING A  ELEMENT
my_set.remove(2)
print("after removing a element",my_set)

#MODIFYING **(MODIFYING IS NOT DIRECTLY POSSIBLE ON SETS)**
my_set.discard(3)
my_set.add(75)
print("after modifying ",my_set)

BEFORE PERFORMING OPERATIONS ON SET
{1, 2, 3, 4, 5}
after adding an element {1, 2, 3, 4, 5, 500}
after removing a element {1, 3, 4, 5, 500}
after modifying  {1, 4, 5, 500, 75}